body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.drum-element,
.drum-container {
  border: 2px solid black;
}

.drum-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  width: min(90%, 900px);
  /* height: 600px; */
  padding: 4rem;
  border-radius: 1rem;
}

.drum-pad {
  border-radius: 1rem;
}
.drum-pad:not(.pressed):hover {
  border: 5px solid grey;
}
.drum-pad-1 {
  grid-area: 1 / 1 / 3 / 3;
}

.drum-pad-4 {
  grid-area: 3 / 1 / 5 / 3;
}
.drum-pad-7 {
  grid-area: 5 / 1 / 7 / 3;
}
.drum-pad-2 {
  grid-area: 1 / 3 / 3 / 5;
}
.drum-pad-5 {
  grid-area: 3 / 3 / 5 / 5;
}
.drum-pad-8 {
  grid-area: 5 / 3 / 7 / 5;
}
.drum-pad-3 {
  grid-area: 1 / 5 / 3 / 7;
}
.drum-pad-6 {
  grid-area: 3 / 5 / 5 / 7;
}
.drum-pad-9 {
  grid-area: 5 / 5 / 7 / 7;
}
.drum-slider-1 {
  grid-area: 1 / 7 / 4 / 8;
}
.drum-slider-2 {
  grid-area: 4 / 7 / 7 / 8;
}
.drum-knob-1 {
  grid-area: 6 / 8 / 7 / 9;
}
.drum-knob-2 {
  grid-area: 4 / 8 / 5 / 9;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
}
.pressed {
  border: 5px solid hotpink;
}
#slider1 {
  transform: rotate(270deg);
}
/* The slider itself */
#slider1 {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100px; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
}
/* Mouse-over effects */
#slider1:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider1::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#slider1::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.drum-slider-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
