body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.drum-element,
.drum-container {
  border: 2px solid black;
}

.drum-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  /* width: min(90%, 900px); */
  max-width: 100vw;
  max-height: 60vh;

  padding: 4rem;
}

.drum-pad-1 {
  grid-area: 1 / 1 / 3 / 3;
}
.drum-pad-2 {
  grid-area: 3 / 1 / 5 / 3;
}
.drum-pad-3 {
  grid-area: 5 / 1 / 7 / 3;
}
.drum-pad-4 {
  grid-area: 1 / 3 / 3 / 5;
}
.drum-pad-5 {
  grid-area: 3 / 3 / 5 / 5;
}
.drum-pad-6 {
  grid-area: 5 / 3 / 7 / 5;
}
.drum-pad-7 {
  grid-area: 1 / 5 / 3 / 7;
}
.drum-pad-8 {
  grid-area: 3 / 5 / 5 / 7;
}
.drum-pad-9 {
  grid-area: 5 / 5 / 7 / 7;
}
.drum-slider-1 {
  grid-area: 1 / 7 / 4 / 8;
}
.drum-slider-2 {
  grid-area: 4 / 7 / 7 / 8;
}
.drum-knob-1 {
  grid-area: 6 / 8 / 7 / 9;
}
.drum-knob-2 {
  grid-area: 4 / 8 / 5 / 9;
}
