:root {
  --screen-bg-color: rgb(3, 41, 5);
  --screen-text-color: rgb(64, 233, 21);
}
@font-face {
  font-family: 'custom-main';
  src: url('assets/Impact\ Label.ttf');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/*Whole JamDeck*/
.drum-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  padding: 4rem;
  border-radius: 50px;
  gap: 1rem;
  background-image: url(./Images/walnut.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/*WHAT DOES THIS DO?*/
#title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
/*Title*/
#jamdeck {
  font-family: 'Fredoka One', cursive;
  margin-block: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
#title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.jamdeck-on {
  text-shadow: 0 0 10px #e2e1e1, 0 0 20px #e2e1e1, 0 0 30px #e2e1e1,
    0 0 26px #ff00de, 0 0 46px #ff00de, 0 0 56px #ff00de, 0 0 66px #ff00de,
    0 0 100px #ff00de;
  filter: drop-shadow(3px 2px 2px #e2e1e1);
}

#dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2rem;
  width: 8rem;
  font-size: 1.5rem;
  text-indent: 0.5rem;
  font-family: 'VT323', monospace;
}
.d-turned-off {
  color: black;
  background-color: black;
}
.d-turned-on {
  color: rgb(64, 233, 21);
  background-color: var(--screen-bg-color);
}
/*LED light*/
#on-LED {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.5px solid black;
  margin-left: auto;
}
.turned-off {
  background-color: rgb(121, 4, 4);
  filter: drop-shadow(1px 1px 1px rgb(51, 50, 50));
}
.turned-on {
  background-color: red;
  filter: drop-shadow(0px 0px 5px red);
}

/*container for everything but the title and led*/
#controls {
  display: flex;
  margin-bottom: 1rem;
}
.drum-element,
.drum-container {
  border: 2px solid black;
}

/*Sets up the grid for drum pads*/
.drum-pad-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min(90%, 900px);
  border-radius: 1rem;
  gap: 1rem;
  height: 100%;
}

/*drum pad*/
.drum-pad {
  font-family: 'Fredoka One', cursive;
  border-radius: 1rem;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e1e1;
  pointer-events: none;
  /*removes the ability to highlight letter on pad*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.active-pad {
  pointer-events: auto;
}
.drum-pad:not(.pressed):hover,
.boot-display {
  box-sizing: border-box;
  border: 2px solid white;
  box-shadow: 0 0 5px #e2e1e1, 0 0 6px #e2e1e1, 0 0 10px #e2e1e1,
    0 0 8px greenyellow, 0 0 14px greenyellow, 0 0 80px greenyellow,
    0 0 20px greenyellow, 0 0 35px greenyellow;
}
.pressed {
  border: 0.5px solid white;
  box-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 8px #ff00de,
    0 0 14px #ff00de, 0 0 80px #ff00de, 0 0 20px #ff00de, 0 0 35px #ff00de;
}

/*container for the oscilloscope, slier and knob containers*/
.interface-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

/*oscilloscope*/
#oscilloscope {
  filter: drop-shadow(0px 0px 3px #e2e1e1);
}
#canvas-outline {
  width: 310px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  filter: drop-shadow(2px 2px 2px #e2e1e17e);
}

/*container for volume and pan dials*/
.drum-buttons-container {
  display: flex;
  height: 100%;
}

/*container for the sliders*/
.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/*container for volume and pan dials and on/off switch*/
#dial-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

/*on/off switch alignment*/
.input-switch {
  align-self: flex-end;
}

/*containers for the volume and pan dials*/
#knob-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*volume and pan dials*/
.drum-knob-1,
.drum-knob-2 {
  filter: drop-shadow(2px 2px 2px black);
  align-self: flex-start;
}
.drum-knob-2 {
  height: 100%;
}

/*both sliders*/
.drum-slider-1,
.drum-slider-2 {
  transform: rotate(270deg);
}
#slider1,
#slider2 {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  background: #9c9c9c;
  height: 20px;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider1::-webkit-slider-thumb,
#slider2::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 60px; /* Slider handle height */
  background: #e2e1e1; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid black;
  border-radius: 0.4rem;
  filter: drop-shadow(-2px 2px 2px black);
}
/* All the same stuff for Firefox */
#slider1::-moz-range-thumb,
#slider2::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 60px; /* Slider handle height */
  background: #e2e1e1; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid black;
  border-radius: 0.4rem;
  filter: drop-shadow(2px 2px 2px black);
}
/* All the same stuff for IE */
#slider1::-ms-thumb,
#slider2::-ms-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 60px; /* Slider handle height */
  background: #e2e1e1; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid black;
  border-radius: 0.4rem;
  filter: drop-shadow(2px 2px 2px black);
}

/*removes focus for user */
.input-knob:focus,
#slider1:focus,
#slider2:focus,
#on-off-switch:focus {
  outline: 0;
}

#beats-knob {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin-top: -1rem;
}

#beats-knob::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  cursor: pointer; /* Cursor on hover */
  border: 1px solid black;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e2e1e1;
  filter: drop-shadow(-2px 2px 2px black);
}

.ticks {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.beat-LED {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.5px solid black;
}
